body{
  background-color: #3572EF;
}
.App{
  background-color: white;
  min-height: 90vh;
  width: 550px;
  margin: 20px auto;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: beige;
}
ul, li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
}
h1{
  font-family: "Montserrat", sans-serif;
}
.add{
  background-color: #FFC7ED;
  margin-top: 5px;
}
.delete{
  background: #FC4100;
  margin-bottom: 5px;
}
.btn{
  padding: 10px;
  border: none;
  width: 80%;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

